/* .box{
	position: relative;
    display: inline-block;
	width: 100px;
	height: 200px;
    margin: 100 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: rgba(250,184,66, 1);
}
.box::before,
.box::after{
	position: absolute;
	width: 200px;
	height: 200px;
	content: '';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(250,184,66, 1);
}
.box::before{
	bottom: 0px;
	left: -100px;
}
.box::after{
	top: -100px;
	right: 0px;
} */
.box{
    width: 700px;
    padding: 250px;
    margin: 50px;
    border: 15px solid goldenrod;
    align-items: center;
    font-size: 34px;
    text-align: center;
    color: cornflowerblue;
    background-color: darkmagenta;
    border-radius: 880px;
}
body{
    background-image: url("logo.jpg");
    align-self: auto;
}