@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body
{
    background-image: url('imp.jpg');
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    background-color: aqua;
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
}
nav ul li{
    padding: 0 12px;
}
.brand img
{
    width: 10px;
    padding: 10px 10px;
}
.brand img{
    width: 44px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2.3 rem;
}
.container{
    min-height: 70vh;
    /* background-color: black; */
    color: yellowgreen;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 80%;
    margin: 10px auto;
    border-radius: 42px;
    padding: 20px;
}
.Bottom
{
    position: sticky;
    height: 100px;
    background-color: blueviolet;
    bottom: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.icons{
    margin-top: 10px;
}
.icons
{
    cursor: pointer;
}
#myprogressbar
{
    width: 90vw;
    text-align: center;
    cursor: pointer;
}
.songItem 
{
    height: 60px;
    width: 900px;
    display: flex;
    background-color: palevioletred;
    margin: 4px 10px ;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    cursor: pointer;
}
.songItem img{
    width: 60px;
    margin: 0 30px 0;
    border-radius: 60px;
    
}
.timestamp
{
    margin: 100px;
}
.songitemcontainer
{
    margin-top: 20px;
}
.songinfo
{
    font-family: 'Varela Round',sans-serif;
    position: absolute;
    left: 10vw;
    bottom: 0px;
}
.songinfo img
{
    opacity: 10;
    transition: opactiy 0.4s ease-in;
}
.fa-solid far fa-3x-rectangle-wide
{
    height: 200px;
    width: 200px;
    opacity: 100%;   
}
