#try css on your own now by giving classes to divs 
//make a new file named style.css add it in out html doc
// syntax: <link rel="stylesheet" href="style.css">

//now in browser search google fonts and import by coping url any two your fav css style sheets in your css file
//example i copied
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Poppins:wght@300&family=Ubuntu&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Poppins:wght@300&family=Ubuntu&family=Varela+Round&display=swap');
//write this at the top of your css sheet 

//in html give a class = "bg" and id = "bg" to body tag
//give it a light background color and and height 100 
//if img doesn't sets use backgroung image attributes like:
/*
/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

//to set all margin and padding initially 0 we use following special syntax:
/*
*{
    margin: 0;
    padding: 0;
}
*/

//designing navbar
//add font style to nav
//then in nav ul make display flex list-font-style none and add following attributes
// note :- set ayyributes or change them as per your project requirement

/*
nav{
    font-family: 'Ubuntu',sans-serif;
    
}

nav ul{
    display: flex;
    // sare items horizontal aa jyge  iske liye we use this
    list-style-type: none;
    // bindu bindu design ht jate
 
    background-color: black;
    // set color and height or change it as per your convience 
    height: 105px;
    color: white;

    align-items: center;
    
}

*/
//CSS BRAND SECTION START
.brand img{
  
    width: 65px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
   
// ab gapping inc krni so li ko padding dedege left right se 10-12 px 
}

nav ul li{
    padding: 0 12px;
}
//CSS BRAND SECTION ENDS 

//CSS CLASS BOTTOM SECTION START AND CONTAINER EDITING OF MY ALBUM SECTION
//give class .container to myalbum and apply follwing css oto firest bottom then comtainer and edit as per your project and understanding
/*
// adding design to bottom bar 
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
   
    color: white;
   // tki bki font sb dikhe 
    bottom: 0;
    // isse kam hojye uske lIye container ki min height set krni hogi 
}

.container{
    min-height: 70vh;
    // vh means 75 pecent of height 
    background-color: black;
   
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    // auto krne se center pr aa jata 
    width: 52%;
    border-radius: 12px;
    padding: 34px;
    
    background-image: url('bg4.jpg');
//bg4 me apni choice ki koi backgroung img lga skte of dark color 
    background-size: cover;
    background-repeat: no-repeat;
}
*/
//follow following syntax to set  progress bar

/*

#myProgressBar{
    width: 80vw;
    cursor: pointer;
    /* text-align center will not work pr agr container bnayege then eo eork krjyga so apn ab bottom me 3 property lgayge */
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    flex-direction: column;
    // tki icons neeche aajye 
 
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
*/

#CSS BOTTOM CLASS ENDS 

#CSS SONGITEM CLASS SECTION BEGINS 
//apply following syntax and chnage as per your accord
//read comments in syntax to understand

/*


.songItem{
    height: 50px;
    
    display: flex;
    background-color:#e0f2f1;
    // border-color: black; 
    width: 113%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    // align items centre krne se image firse bdi jygi for that we do the following then..........songitem img me width alag se 
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    
}

.timestamp i{
    cursor: pointer;
}

.songItemContainer {
    margin-top: 60px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
}

// hum chahte that ki wo kr wkt dikhti rhe 
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


// isse kya hua ki jb bhi hu, js se iski opacity ko 1 ktrege then wh play hojuga 
// now ab hum likhege js 

.songList{
    background-image: url('bg4.jpg');
    background-repeat: no-repeat;
}

*/


#CSS SONGITEM CLASS SECTION ENDS

#CONTACT SECTION WITH BTN CLASS STARTS
//in html below home trending artist write below code 
/* 
<div class="right"></div>
<button class="btn  ">
                <a href="#contact">Contact</a>
            </button>
*/

//we are making contact section 
//come back in css and use syntax in class btn 
/*


.btn{
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: 3px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    background-color: brown;

}
.btn a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn a:hover{
 
    color: brown;
    
   
    
}
.btn:hover{
    background-color: black;
    border-color: brown;
    color: brown;
}

.nav-text a{
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Varela Round',sans-serif;

    color: white;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.right {
    margin-left: 25rem;
 
}


.nav-text a:hover{
    color: brown;
}


.brand{
    margin-right: 15rem;
    margin-left: 15rem;
}


*/

#CLASS BTN CONTACT SECTION ENDS

#Home{
    opacity: 1;
    clip-path: polygon(0 0,100% 0,100% 100%,75% 87%,0 100%);
}
//add above syntax to your css to apply clip effect

//CSS OF TRENDING SECTION 
//apply following effects to class of section trending
/*
.classname{
      min-height: 78vh;
    // vh means 75 pecent of height 
 
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    //auto krne se center pr aa jata  
    width: 97%;
    border-radius: 50%;
    padding: 34px;
  
    background-size: cover;
    background-repeat: no-repeat;}
*/
/*

.card-wrapper1{
 
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;

}

.card-wrapper1 .card1{
  
    position: relative;
    height: 350px;
}

.card-wrapper1 .card1 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background:rgba(61, 207, 211, 0.9);
    justify-content: center;
    align-items:center;
    flex-direction: column;
   
    color: #F2F2F2;
 opacity: 0;
 transition: all 0.3s ease;

}
.card-wrapper1 .card1:hover .overlay{
    opacity: 1;

}
.card-wrapper1 .card1:hover .overlay span{
    margin-bottom: 15px;
}

.card-wrapper1 .card1 .overlay a{
    color:#070606;
    text-decoration:underline;
    
}

.card-wrapper1 .card1 img{
    height: 100%;
    width: 100%;
}

.container3{
    /* margin-top: 5rem; */
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Varela Round',sans-serif;
    font-weight: bold;
    font-size: 22px;
}
*/

//in id of section trending apply following
#idname{
    background-color: #F2F2F2;
   
    padding: 2.5rem;
}
//small effects chnage as per your convenience by your css skills
/*
.container3 h1{
    text-align: center;
    font-size: 2rem;
}

.container3 p{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.container3 h1>span{
    color: #3DCFD3;
    font-size: 2rem;
}
*/

#TRENDING SECTION OVER

#ARTISTS SECTION STARTS
//syntax example
/*
#artists > .container{
    width: 100%;
    background-image: url('artistbg.jpg');
    display: grid;
    grid-template-columns: repeat(3,0.2fr);
    grid-row-gap:2rem;

  
}

.card-wrapper{
    background-color: black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: white;
}

.card-wrapper img{
    border-radius: 50%;
}

.card-wrapper h3:hover{
    color: black;
    transform: scale(1.3);
    cursor: pointer;
    background-image: url('artist1.jpg');
}
.card-wrapper h3{
    text-align: center;
    font-weight: bolder;
    
    padding: auto;
}
*/

#TRENDING CSSS ENDS

#FOOTER CSS BEGINS
//apply following syntax
/*
footer{
    text-align: center;
    font-family: 'Varela Round',sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5rem;
    background-color: black;
    color: white;
    padding: 2.5rem;
}

footer span> img{
    height: 90px;
 
    border-radius: 50%;
}
footer h3{
    margin-top: 2rem;
}
footer h2>span:hover{
    color: brown;
    cursor: pointer;
}*/

#FOOTER CSS ENDS 

#ARROW
//add following syntax to below class bg of body in html
//this will help to reach on top faster
/*
    <button id="arrow">
        <a href="#bg"><img src="up-arrow f.png" alt=""></a>
    </button>
*/
//in id arrow apply following and change as per your knowledge 
/*
#arrow{
    position: fixed;
    z-index: 11111111111;
    margin-left: 97%;
    margin-top: 40%;
    height: 4.4rem;
    width: 3rem;
    border-radius: 50%;
}

#arrow:hover{
    background: #3DCFD3;
}
*/

//css OVER 
