
*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: rgb(0, 0, 0);
}

ul li img{
    width: 2cm;
    background-color: aliceblue;
    border-radius: 30%;
}
nav ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    color: azure;
}
nav ul li{
    padding: 0px 12px;
}
nav{
    background-color: black;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0 5%;
}

.home{
    background-image: url(music.jpg);
    background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  
}

.container{
   /* display: grid;
   grid-template-columns: auto auto auto; */
   display: flex;
   justify-content: space-around;
   height: 700px;
   flex-wrap: wrap;
   align-items: center;
   align-content: space-between;
}
.home h1{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
.home img{
    border-radius: 30%;
}
.card{
    padding-top: 50px;
    text-align: center;
}
.home h1{
    padding-top: 5%;
    text-shadow: 5cm;
}
.home a:link{
    color: rgb(255, 255, 174);
}

.bottomclass{
    background-color: black;
    color: white;
    position: sticky;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0% 2% 0%;
}

#pbar{
    width: 80%;
    cursor: pointer;
}

.icons{
    width: 5cm;
    padding-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myalbum{
    background-color:#000000;
    color: white;
}
.songlist_container{
  background-color: #170055;
  border-radius: 10%;
  width: 50%;
  /* margin: 3% 23%; */
  padding: 3% 8%;
  margin: 0 auto;
  text-align: center;
}
.songlist{
    margin-top: 35px;
    text-align: center;
}

.songItem{
   display: flex;
   height: 50;
   background-color: black;
   width: 80%;
   color: white;
   margin:12px 0px;
   justify-content: space-between;
   align-items: center;
   border-radius: 34px;
    
  
}
.songItemPlay{
    cursor: pointer;
}
.image{
    width: 40px;
    height: 30px;
    border-radius: 10px;
}
.songName{
    padding: 3px 5px;
}
.timestamp{
    margin: 0 23px;
    padding: 0 0 10px 3px;
}
.songinfo{
    position: absolute;
    left: 10px;
}

.songinfo span{
    align-items: center;
}

.songinfo img{
    opacity: 0;
    transition: opacity 1s, ease-in;
}